.container-fluid {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
}

.analysis .row {
    margin-bottom: 30px;
}

.analysis .row p {
    width: 100%;
    text-align: center;
}

.plot-name {
    margin: 0;
}

.container h2 {
    font-weight: 300;
}

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

.axis text {
    fill: #666;
    font-size: 16px;
}

.line {
    fill: none;
    stroke: orangered;
    stroke-width: 2px;
}

.main-select {
    /*margin: 50vh;*/
    font-size: 30px;
}

select {
    width: 300px;
    height: 40px;
    margin-left: 10px;
    font-size: 30px;
}

.indicators-table {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 20px;
}

.indicators-table td, .indicators-table th {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid lightgray;
}

th {
    /* стили для ячеек-заголовков */
}

td {
    min-width: 100px;
}

.form-group {
    margin: 0 10px;
}